:root {
    /* general colors */
    --white-bg-color: #eef3f7;
    --white-color: #ffffff;
    --lightblue-accent: #259ce1;
    /* font colors */
    --darkblue-text: #0b2539;
    --grey-text: #5e7c94;
    /* button colors */
    --arrowblue: #51a2d4;
    --SMblue-bg: #e6f6fe;
    --SMblue-border: #259ce1;
    /* shadow colors */
    --verylightgrey: #d2d6d8;
    /* hover colors */
    --subtlegrey: #f1f1f1;
    --hover-arrowblue: #064974;
    --hover-SMblue-border: #94c4e0;
}

*, ::before, ::after {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

main {
    background-color: var(--white-bg-color);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title {
    min-height: 15%;
    min-width: 60%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2 {
    font-size: 30pt;
}

.title .underline {
    height: .2rem;
    width: 5rem;
    background-color: var(--lightblue-accent);
    margin: .5rem;
}

.container .box {
    background-color: var(--white-color);
    height: 60%;
    width: 60%;
    padding: 3rem;
    margin-right: minmax(10%, 20%);
    margin-left: minmax(10%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1rem .5rem 1rem var(--verylightgrey);
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box #person-img {
    width: 5rem;
    display: block;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    border-radius: 30%;
    color: var(--lightblue-accent);
    box-shadow: 12px -8px 0px ;
}

.box #name {
    font-size: 15pt;
    letter-spacing: .5rem;
    margin-top: .7rem;
}

.box #job {
    font-size: 12pt;
    font-family: monospace;
    color: var(--lightblue-accent);
    margin-top: -.2rem;
}

.box #comment {
    text-align: center;
    font-family: helvetica;
    color: var(--grey-text);
}

.arrows-container .arrow-btn {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    font-size: 20pt;
    color: var(--arrowblue);
    transition-duration: .4s;
}

.arrows-container .arrow-btn:hover {
    cursor: pointer;
    background-color: var(--subtlegrey);
    color: var(--hover-arrowblue);
}

#supriseMe {
    background-color: var(--SMblue-bg);
    border-color: var(--SMblue-border);
    border-radius: 11%;
    box-shadow: .6rem .3rem ;
    height: 2.5rem;
    width: 8rem;
    font-size: 12pt;
    color: var(--arrowblue);
    transition-duration: .4s;
}

#supriseMe:hover {
    cursor: pointer;
    background-color: var(--arrowblue);
    border-color: auto;
    color: white;
    border-radius: 11%;
    box-shadow: -.6rem -.3rem  var(--hover-SMblue-border);
    height: 2.5rem;
    width: 8rem;
    font-size: 12pt;
}